@import './assets/styles/reset';

@font-face {
    font-family: "Light";   /*Can be any text*/
    src: local("Montserrat"),
    url("./assets/fonts/Montserrat-Light.ttf") format("truetype");
}
@font-face {
    font-family: "Bold";   /*Can be any text*/
    src: local("Montserrat"),
    url("./assets/fonts/Montserrat-Bold.ttf") format("truetype");
}
@font-face {
    font-family: "SemiBold";   /*Can be any text*/
    src: local("Montserrat"),
    url("./assets/fonts/Montserrat-SemiBold.ttf") format("truetype");
}
@font-face {
    font-family: "Regular";   /*Can be any text*/
    src: local("Montserrat"),
    url("./assets/fonts/Montserrat-Regular.ttf") format("truetype");
}